<footer class="footer">
  <small>
    <a href="https://www.knowella.com/">Fake Twitter</a>
    created by <a href="https://malhotramanik.blogspot.com/">Manik Malhotra</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://knowella.com/help">Forum</a></li>
    </ul>
  </nav>
</footer>